.home-container {
  min-height: 430px;
}
.jumbotron {
  height: 20vh;
  background-color: white;
}

h6 {
  margin: 5px 15px;
  color: #777;
}
button {
  margin: 5px 0 20px;
}

.instructions {
  min-height: 300px;
  padding: 10px;
  margin: 130px auto 100px;
}

.card-instruction {
  width: 30vw;
  height: 200px;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
