.jumbotron{
 background-color: white;
}

h2{
    margin: 0 0 10px;
    text-transform: uppercase;
  }
  
  h6{
    margin: 0 0 15px;
    color:#777;
  }
  
.instruction-container {
  width: 100%;
  min-height: 300px;
  padding: 20px;
  
}

