.income-container {
    width: 100%;
    margin: 0px;
    /* border: 2px solid grey; */
}
.income-container.container {
   margin: 0 auto;
}
.enabled-input {
    /* width: 100px; */
    border:1px solid rgb(196, 196, 197);
}
.card-body {
    padding: 0px;
    width:100%;
}

span.input-group-text{
    width: 132px;

}


input.form-control{
    display: flex;
    text-align: center;
    font-size: 1rem;
}
input.form-control:read-only{
    pointer-events: none;
    display: flex;
    text-align: center;
    color: rgb(88, 87, 87);
    background-color: rgb(247, 247, 247);
}
input.year-day.form-control {
    background-color: rgb(255, 255, 255);
}

.description-card {
    margin-bottom: 20px;
}
.text-description-card {
    padding: 0 2rem;
}



